/ch8_nb1_action_recognition.ipynb
/chkpts
/CK_Data_224
/CK_Data_224_Emotion_LF
/CK_Data_224_FACS_LF
/CK_Data_48_Emotion_LF
/CK_Data_48_FACS_LF
/CK_Data_96
/CK_Data_96_Emotion_LF
/CK_Data_96_FACS_LF
/CK_Data_{size[0]}
/Clean_datasets
/EmontioNet_FACS_Data_224
/EmontioNet_FACS_Data_clean_224
/EmontioNet_FACS_undetected_224
/EmotioNet_Data_224_Emotions
/EmotioNet_undetected_224_Emotions
/Fer2013_test_48
/Fer2013_train_48
/FER2013_train_data
/FER2013_train_labels
/MMI_Emotion_Data_224
/MMI_FACS_Data_224